* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  list-style: none;
}

body {
  background-color: black;
  color: white;
  overflow-x: hidden;
  animation: fadeInUp 1s ease-out;
  align-items: center;
  display: flex;
  flex-direction: column;

}

header {
  width: 100%;
 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 15%;
  background: transparent;
  transition: all ease .45s;
}

.logo {
  font-size: 41px;
  font-weight: 600;
}

.logo span {
  color: rgba(0, 255, 229, 0.76);
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.navbar a {
  font-weight: 500;
  margin: 0 25px;
  transition: all ease;
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  color: rgba(0, 255, 229, 0.76);
}

.navbar a.active {
  color: rgba(0, 255, 229, 0.76);
}

section {
  padding: 0 15%;
}

.home {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.home-text span {
  padding: 5px;
  background: rgb(0, 255, 231);
  background: linear-gradient(90deg, rgba(0, 255, 231, 0.8939950980392157) 0%, rgba(1, 81, 98, 1) 83%, rgba(2, 3, 38, 1) 100%, rgba(2, 2, 37, 1) 100%, rgba(2, 0, 36, 1) 100%);
  box-shadow: 0px 20px 40px black;
  border: 1px solid #3b3b3b;
  border-radius: 1000px;
  columns: white;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
}

.home-text h1 {
  font-size: 80px;
  margin: 20px 0;
}

.home-text p {
  font-size: medium;
  font-weight: 400;
  color: #c3c3c3;
  line-height: 30px;
  mask-border: 50px;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  padding: 10px;
  background-color: rgba(0, 255, 229, 0.76);
  color: white;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  transition: all 0.6s ease-in-out;
  text-decoration: none;
}

.btn:hover {
  transform: translateY(-2px);
  background: transparent;
  color: white;
  border: 1px solid rgba(0, 255, 229, 0.76);
}

.share {
  position: absolute;
  bottom: 3rem;
  left: 15%;
  display: flex;
  align-items: center;
}

.share p {
  font-size: 17px;
  color: white;
  margin-right: 25px;
}

.social i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  background: linear-gradient(90deg, rgba(0, 255, 231, 0.8939950980392157) 0%, rgba(1, 81, 98, 1) 83%, rgba(2, 3, 38, 1) 100%, rgba(2, 2, 37, 1) 100%, rgba(2, 0, 36, 1) 100%);
  box-shadow: 0px 5px 5px black;
  border: 1px solid #3b3b3b;
  border-radius: 50%;
  color: white;
  font-size: 0 7px;
  transition: all 0.6s ease-in-out;
}
.social i:hover{
  transform: translateY(-10px);
}
@media (max-width: 768px){
  section{
    flex-direction: column;
    align-items: center;
  }
  .profile{
   display: flex;
   justify-content: center;
   align-items: center;
  }
  .profile img{
    max-width: 200px;
  }
  .home{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home div{
    margin-bottom: 15px;
  }
}



@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }